:host {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;
}

.modal-container {
  width: 70rem;
  .modal-content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.4fr 1fr;
  }
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}